@model StripeDemoApp.Models.TenantInfoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>View</h2>

<div>
    <h4>TenantInfoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRegisterationCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRegisterationCompleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePaymentInfoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePaymentInfoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePaymentSecretKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePaymentSecretKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePaymentPublicKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePaymentPublicKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StripePaymentAccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StripePaymentAccountId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
