@model StripeDemoApp.Models.CheckoutModel

@{
    ViewBag.Title = "Checkout Success";
}

<h2>Checkout Success</h2>

<div>
    <h4>Checkout Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckoutEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckoutEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservedEventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservedEventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Events", "Index", "Home")
</p>
